<div>
    <h1 class="pretty-text">Project Quantum</h1>
    <!-- <div data-netlify-identity-menu /> -->
    <ul class="fa-ul">
        <li>
            <a href="/source">
                <span class="fa-li">
                    <fa-icon [icon]="['fas', 'laptop-code']"></fa-icon>
                </span>
                Project Quantum (Source)
            </a>
        </li>
        <li>
            <a href="/server">
                <span class="fa-li">
                    <fa-icon [icon]="['fas', 'server']"></fa-icon>
                </span>
                Server
            </a>
        </li>
        <li>
            <a href="/members">
                <span class="fa-li">
                    <fa-icon [icon]="['fas', 'users']"></fa-icon>
                </span>
                Members
            </a>
        </li>
        <li>
            <a href="/projects">
                <span class="fa-li">
                    <fa-icon [icon]="['fas', 'code']"></fa-icon>
                </span>
                Projects
            </a>
        </li>
    </ul>
</div>